bauhaus-coding-workshop/.DS_Store
bauhaus-coding-workshop/01_dust-and-dirt/.DS_Store
bauhaus-coding-workshop/01_dust-and-dirt/sketch_01_01_dust/.DS_Store
bauhaus-coding-workshop/02_geometric-typography/.DS_Store
bauhaus-coding-workshop/02_geometric-typography/sketch_02_08_typography_g/.DS_Store
bauhaus-coding-workshop/03_random-composition/.DS_Store
bauhaus-coding-workshop/03_random-composition/sketch_03_02_composition/.DS_Store
bauhaus-coding-workshop/04_wave-figures/.DS_Store
bauhaus-coding-workshop/04_wave-figures/sketch_04_07_wavefigure/.DS_Store
bauhaus-coding-workshop/05_square-circle-triangle/.DS_Store
bauhaus-coding-workshop/05_square-circle-triangle/sketch_04_01_squarecircletriangle/.DS_Store
bauhaus-coding-workshop/05_square-circle-triangle/sketch_04_02_squarecircletriangle/.DS_Store
bauhaus-coding-workshop/05_square-circle-triangle/sketch_04_03_squarecircletriangle/.DS_Store
bauhaus-coding-workshop/05_square-circle-triangle/sketch_04_04_squarecircletriangle/.DS_Store
bauhaus-coding-workshop/05_square-circle-triangle/sketch_04_05_squarecircletriangle/.DS_Store
bauhaus-coding-workshop/06_rhythm-studies/.DS_Store
bauhaus-coding-workshop/06_rhythm-studies/sketch_06_02_rhythm_studies/.DS_Store
bauhaus-coding-workshop/07_painting-with-light/.DS_Store
bauhaus-coding-workshop/08_formal-contrasts/.DS_Store
bauhaus-coding-workshop/08_formal-contrasts/sketch_08_01_formalcontrasts/.DS_Store
bauhaus-coding-workshop/08_formal-contrasts/sketch_08_02_formalcontrasts/.DS_Store
bauhaus-coding-workshop/08_formal-contrasts/sketch_08_03_formalcontrasts/.DS_Store
bauhaus-coding-workshop/08_formal-contrasts/sketch_08_04_formalcontrasts/.DS_Store
bauhaus-coding-workshop/08_formal-contrasts/sketch_08_05_formalcontrasts/.DS_Store
bauhaus-coding-workshop/09_material-studies/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_00_noise/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_01_weave/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_02_asphalt/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_03_plastic/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_04_sand/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_05_cotton/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_06_hardplastic/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_07_mesh/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_09_carpet/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_10_fur/.DS_Store
bauhaus-coding-workshop/09_material-studies/sketch_09_11_ice/.DS_Store
bauhaus-coding-workshop/10_moire-patterns/.DS_Store
bauhaus-coding-workshop/10_moire-patterns/sketch_10_01_moire/.DS_Store
bauhaus-coding-workshop/11_slitscan/sketch_11_01_slitscan/.DS_Store
bauhaus-coding-workshop/11_slitscan/sketch_11_01_slitscan/data/.DS_Store
bauhaus-coding-workshop/11_slitscan/sketch_11_01_slitscan/output/.DS_Store
bauhaus-coding-workshop/12_experiments/.DS_Store
bauhaus-coding-workshop/12_experiments/sketch_12_01_tutorial_kinetictype/.DS_Store
bauhaus-coding-workshop/12_experiments/sketch_12_01_tutorial_pgraphic/.DS_Store
bauhaus-coding-workshop/12_experiments/sketch_12_04_poster/.DS_Store
bauhaus-coding-workshop/12_experiments/sketch_12_04_poster/data/.DS_Store
bauhaus-coding-workshop/12_experiments/sketch_12_05_poster/.DS_Store
bauhaus-coding-workshop/12_experiments/sketch_12_05_poster/data/.DS_Store
learning-processing/.DS_Store
learning-processing/_sortieren/.DS_Store
.DS_Store
bauhaus-coding-workshop/12_experiments/sketch_12_01_tutorial_kinetictype/data/.DS_Store
